/**** DEFAULTS ****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  /* 1rem will equal this now */
    line-height: 1.6;
    font-family: sans-serif; /* add google fonts */
}



/**** PAGES ****/
.page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    position: fixed;  /* or absolute if the user needs to scroll for more content */
    padding: 1rem 2rem;
}
.active{
    display: block; 
}
#home{

}
#list{

}
#detail{
 
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #8d1111;
}

.nav-link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.main-area {
    margin-left: 200px;
}